:root {
    --color-primary: #3C6E71;
    --color-secondary: #284B63;
    --color-tertiary: #006D77;
    --color-keempat: #83C5BE;

    --color-text-dark: #353535;
    --color-text-light: #D9D9D9;
    --color-text-white: white;

    --bg-color-main: white;
    --bg-color-secondary: #D9D9D9;

    --container-width-lg: 60%;
    --container-width-sm: 96%;

    --transition: all 400ms ease;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 6rem;
}

td {
    font-family: "Lora", system-ui;
    font-size: 0.9rem;
}

th, td {
    border: 1px solid #ddd;
    padding: 0.4rem;
    line-height: 1.1rem;
}
th {
    background-color: #f2f2f2;
    text-align: center;
}
tr:nth-child(even) {
    background-color: #f9f9f9;
}
tr:hover {
    background-color: #ddd;
}

.title {
    font-weight: 600;
    font-style: italic;
}

.action__icon, .date {
    text-align: center;
}

.action__icon a {
    color: var(--color-secondary);
    font-size: 1.2rem;
    text-align: center;
    transition: var(--transition);
}

.action__icon a:hover {
    color: var(--color-keempat);
    font-size: 1.3rem;
}