.post__container h2 {
    line-height: 2.4rem;
}

.post__category {
    font-size: 1.4rem;
}

.post__tags {
    display: flex;
    gap: 0.5rem;
}

.post__tags li {
    font-family: "Poppins", sans-serif;
    font-size: 0.8rem;
    text-align: center;
    margin-bottom: 0.4rem;
    
    border-radius: 6px;
    padding: 0.2rem 1rem 0.2rem 1rem;
    background-color: var(--color-secondary);
    color: var(--color-text-white);
}

.post__content {
    font-family: "Lora", sans-serif;
    white-space: pre-wrap;
    text-align: justify;
    hyphens: auto;
}

.post__date {
    margin: 0.5rem 0 0.5rem 0;
}

.users__action {
    display: flex;
    gap: 1rem;
}

.users__action button {
    margin: 1.4rem 0 2.8rem 0;
    padding: 0;
    border-radius: 0;
    background-color: transparent;
    color: var(--color-text-dark);
    font-size: 1.4rem;
}

.users__action button:hover {
    color: var(--color-keempat);
}